.user-card{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.follow-button{
    color: rgb(255, 255, 255);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    background-color: #1a73e8;
    border-radius: 5px;
    width: 80px;
    height: 36px;
    border: none;
    cursor: pointer;

}